$bin-1: #cf6867;
$bin-2: #cf6867;
$bin-3: #cf6867;

$bin-1-stroke: #BD3232;
$bin-2-stroke: #BD3232;
$bin-3-stroke: #BD3232;


@mixin color {
  &.bin-1 {
    color: $bin-1;
  }
  &.bin-2 {
    color: $bin-2;
  }
  &.bin-3 {
    color: $bin-3;
  }
}

@mixin stroke {
  &.bin-1 {
    stroke: $bin-1-stroke;
  }
  &.bin-2 {
    stroke: $bin-2-stroke;
  }
  &.bin-3 {
    stroke: $bin-3-stroke;
  }
}

@mixin fill {
  &.bin-1 {
    fill: $bin-1;
  }
  &.bin-2 {
    fill: $bin-2;
  }
  &.bin-3 {
    fill: $bin-3;
  }
}

@mixin background-color {
  &.bin-1 {
    background-color: $bin-1;
  }
  &.bin-2 {
    background-color: $bin-2;
  }
  &.bin-3 {
    background-color: $bin-3;
  }
}

@mixin opacity {
  &.bin-1 {
    opacity: .2
  }

  &.bin-2 {
    opacity: .5
  }

  &.bin-3 {
    opacity: .9
  }
}
